header {
    text-align: center; 
    padding: 20px; 
    color: white; 
    background-color:dimgray; 
}

.left-column {
    margin: 25px; 
}

#search-history {
    float: left; 
}

#weather-div {
    align-items: center;
    justify-content: center;
    display: flex; 
}

#forecast-div {
    align-items: center;
    justify-content: center;
    display: flex; 
    padding: 20px; 
}

.blue {
    background-color: #b2f7f7; 
}


